//variables//
$fontsize-titles:30px;
$fontsize-text: ($fontsize-titles)-10px;
$fontfamily-titles: 'Antonio', sans-serif;
$fontfamily-text:'Assistant', sans-serif;
$widthProductos: 100%;
$fontsize-titlesQueries:15px;
$fontsize-titlesQueriesCel:10px;